* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    border-radius: 0;
    outline: none;
}
html,
body {
    width: 100%;
    background-color: #e53935;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
}

.container {
    margin: 32px;
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    position: relative;
    background-color: #e53935;
    border: 5px solid #222034;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container > *, .lform > * {
    position: relative;
    z-index: 1;
}

.container::before, .lform::before {
    content: "";
    position: absolute;
    height: calc(100% + 10px);
    width: calc(100% - 128px);
    background-color: #e53935;
    top: -5px;
    left: 64px;
}
.container::after, .lform::after {
    content: "";
    position: absolute;
    height: calc(100% - 128px);
    width: calc(100% + 10px);
    background-color: #e53935;
    top: 64px;
    left: -5px;
}

h1 {
    font-size: 3.5em;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
    color: #222034;
}
h2 {
    font-size: 3.5em;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 8px;
    color: #222034;
}
h3 {
    font-size: 2.5em;
    font-weight: 700;
    margin-top: -32px;
    margin-bottom: 32px;
    color: #222034;
}
.user {
    font-size: 2em;
    color: #222034;
}

input {
    width: 350px;
    padding: 16px;
    display: block;
    margin: 16px;
    font-size: 1.2em;
}

input[type="submit"] {
    background-color: #222034;
    color: #fff;
    cursor: pointer;
}

.lform {
    padding: 64px 48px;
    border: 3px solid #222034;
    text-align: center;
}
