<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Really Awesome Quarantine Entertainment</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>
    <div class="menu">
        <p class="menu-item menu-home"><a class="menu-link" href="/">RAQE</a></p>
    </div>
    {% block content %}{% endblock %}
    <div class="footer-container">
        <div class="footer">
            {% if state["loggedin"] %}
                <p class="menu-item footer-item"><a class="menu-link" href="/videos">Videos</a></p>
            {% else %}
                <p class="menu-item footer-item"><a class="menu-link" href="/sign-in">Login</a></p>
                <p class="menu-item footer-item"><a class="menu-link" href="/sign-up">Register</a></p>
            {% endif %}
            <p class="menu-item footer-item footer-right"><a class="menu-link" href="/admin">Admin</a></p>
        </div>
    </div>
</body>
</html>