{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/home.css" type="text/css">
{% endblock %}

{% block content %}
<div class="attention-grabber">
    <center>
        <div class="heading">
            <h1 class="title">Really Awesome Quarantine Entertainment</h1>
            <h3 class="subtitle">Stuck in quarantine? Us too! We've put together a handy library full of awesome hacking-related content for you to browse at one low monthly fee!</h3>
        </div>
        <br/>
        <div class="buttons">
            <button onclick="document.location.href='/sign-in';" class="button sign-in">Sign in</button>
            <button onclick="document.location.href='/sign-up';" class="button sign-up">Sign up</button>
        </div>
    </center>
</div>
{% endblock %}