{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/home.css" type="text/css">
{% endblock %}

{% block content %}
<center>
    <div class="sign-in-window">
        <div class="sign-in-top">
            <div class="heading"><br/>
                <h1 class="title">Login</h1>
            </div>
            <div class="form">
                {% if error %}<p class="error">{{ error }}</p>{% endif %}
                <form action="/sign-in" method="post">
                    <input placeholder="Username" name="user" class="field" type="text"/><br/>
                    <input placeholder="Password" name="pass" class="field" type="password"/><br/>
                </form>
            </div><br/>
        </div>
        <div class="submit-container">
            <button onclick="document.getElementsByTagName('form')[0].submit()" class="login-btn">Sign in</button>
        </div>
        <br/>
    </div>
</center>
{% endblock %}