{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/home.css" type="text/css">
{% endblock %}

{% block content %}
<div class="attention-grabber">
    <center>
        <div class="heading">
            <h1 class="title">Sorry, sign-ups currently aren't open.</h1>
            <h3 class="subtitle">Due to high load we cannot offer sign-up at this time.</h3>
        </div>
        <br/>
        <div class="buttons">
            <button onclick="document.location.href='/';" class="button sign-in">Back home</button>
        </div>
    </center>
</div>
{% endblock %}