{% extends "base.html" %}
{% block title %}EmojASM&trade; Runner{% endblock %}
{% block body %}
<p>
    <ul>
        <li>Each tape has been preloaded with some data.</li>
        <li>For each position n, the byte on T1 at position n represents the position of T0[n] in the final flag.</li>
        <li>For example, if the flag was 'flag', T0 would have something like f,a,l,g, and T1 01,03,02,04.</li>
        <li>The flag data starts at the beginning of the tapes.</li>
	<li>For convenience when practicing, the flag is also loaded onto T2 without shuffling. This is not the case in the real environment.</li>
    </ul>
</p>
<form action="{{url_for('practice')}}" method="POST" accept-charset="UTF-8">
    <label for=src>Enter your program here.</label><br>
    <textarea rows=10 cols=100 id=src name=src></textarea><br>
    <input type="checkbox" name="include_debug"><label for="include_debug"> Include debug output (will make flag not match)</label><br>
    <input type="submit" value="Run">
</form>
<p>
    Notes:
    <ul>
        <li>Input is disabled: the input instruction will always return 0.</li>
        <li>The maximum number of instructions that can be executed has been limited to 50000. This is more than enough for this challenge. (Therefore, infinite loops won't work :p)</li>
    </ul>
</p>
{% endblock %}
